h1{
  text-align:center;
  background-color:aqua
  
  }
  h2{
    text-align: center;
  }
  body{
    background-color: rgb(255, 255, 250);
  }
  .img{
    float:inline-end;
    
    
  }
  img{
    border-radius: 49%;
    
  }
  .aboutme{
    background-color:aquamarine;
    border-radius: 10%;
    align-content: center;
    padding-left: 25%;
    padding-right: 40%;
    margin: 2%;
    
    }
    .h1pimg{
      background-color: cadetblue;
      border-radius: 1%;
      align-items: center;
      }
    
    footer{
      text-align-last: center;
      background-color: gray;
    }
  