h1{
  text-align:center;
  background-color:aqua
  }
  h2{
    text-align: center;
  }
  .img{
    float: inline-end;
    
    
  }
  img{
    border-radius: 49%;
  }
  .aboutme{
    background-color:brown;
    border-radius: 10%;
    align-content: center;
    padding-left: 25%;
    padding-right: 40%;
    margin: 2%;
    
    }
    .h1pimg{

    }
    
    
  